.header {
  background: rgb(66, 84, 176);
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: red;

  .mat-icon {
    margin-right: 5px;
  }
}
